replicaCount: 1

image:
  repository: ghcr.io/bcgov/communication-layer
  tag: latest
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3030

configMapName: commlayer

resources:
  requests:
    memory: "256Mi"
    cpu: "20m"       
  limits:
    memory: "512Mi"
    cpu: "250m"      

nodeSelector: {}

tolerations: []

affinity: {}
